dist/view/setting.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <link rel="stylesheet" href="./assets/css/clear.css">
    <link rel="stylesheet" href="./assets/css/public.css">
    <link rel="stylesheet" href="./assets/css/header.css">
    <script src="./assets/js/lib/jquery.min.js"></script>
    <script src="./assets/js/config/index.js"></script>
    <script src="./assets/js/utils/BroadcastChannel.js"></script>
    <script src="./assets/js/utils/utils.js"></script>
    <script src="./assets/js/utils/ipcRenderer.js"></script>
    <script>if (typeof module === 'object') {window.jQuery = window.$ = module.exports;};</script>
    <title>设置中心</title>
    <link rel="stylesheet" href="./assets/css/setting.css">
    <link rel="stylesheet" href="./assets/js/lib/animate/animate.min.css">
    <link rel="stylesheet" href="./assets/js/lib/syalert/syalert.min.css">
    <script src="./assets/js/lib/syalert/syalert.min.js"></script>
  </head>
  <body>
    <div class="setting">
      <div class="tabs-title"><span class="active-title">主题切换</span><span>样式设置</span><span>全局设置</span><span>关于软件</span></div>
      <div class="tabs-content">
        <div class="tabs-item active-content theme-color">
          <ul></ul>
        </div>
        <div class="tabs-item font">
          <div class="s-item"><span>字体设置：</span>
            <select class="font_size">
              <option value="null">未选择</option>
              <option value="12px">12px</option>
              <option value="13px">13px</option>
              <option value="14px">14px</option>
              <option value="15px">15px</option>
              <option value="16px">16px</option>
              <option value="17px">17px</option>
              <option value="18px">18px</option>
              <option value="19px">19px</option>
            </select>
          </div>
          <div class="s-item"><span>自定义主题：</span>
            <div class="custom">
              <div><span>左边输入框背景色：</span>
                <input type="color" title="注意：这会覆盖默认主题。" class="leftColor">
              </div>
              <div><span>右边输入框背景色：</span>
                <input type="color" title="注意：这会覆盖默认主题。" class="rightColor">
              </div>
              <div><span>输入框统一字体色：</span>
                <input type="color" title="注意：这会覆盖默认主题。" class="fontColor">
              </div>
            </div>
          </div>
        </div>
        <div class="tabs-item font">
          <div class="s-item"><span>是否开机自动：</span>
            <input type="checkbox" class="isLogin">
          </div>
          <div class="s-item"><span class="version_num">您当前的版本：</span><span class="version_check">检查更新</span></div>
        </div>
        <div class="tabs-item about"><img src="./assets/img/pic.png" alt="pic.png">
          <h3>HtmlToPug</h3>
          <p>一款Html和Pug/Jade代码相互转换的工具，让你更加爽快的享受Pug/Jade语法的简约。</p>
          <p><a>QQ: 2271608011</a><a>Github: helpcode</a></p>
        </div>
      </div>
      <button class="closed">取消</button>
      <div id="openUpdate" sy-enter="zoomIn" sy-leave="zoomOut" sy-type="confirm" sy-mask="true" class="sy-alert sy-alert-model animated"><img src="./assets/img/pic.png" alt="pic.png" width="80px">
        <p></p>
        <ul></ul><span class="dowNew"></span>
      </div>
    </div>
    <script src="./assets/js/page/setting.js"></script>
    <script src="./assets/js/page/header.js"></script>
  </body>
</html>

src/view/main/setting.jade
extends ./../layout

//- 网站的头部信息这边拆分出来，便于每个页面的SEO配置和配置页面独有的css，js
block title

  title 设置中心
  link(rel='stylesheet', href='./assets/css/setting.css')
  link(rel='stylesheet', href='./assets/js/lib/animate/animate.min.css')
  link(rel='stylesheet', href='./assets/js/lib/syalert/syalert.min.css')
  script(src='./assets/js/lib/syalert/syalert.min.js')

//- 网站的主体内容区域
block content
  .setting
    .tabs-title
      span.active-title 主题切换
      span 样式设置
      span 全局设置
      span 关于软件
    .tabs-content
      div.tabs-item.active-content.theme-color
        ul
      div.tabs-item.font
        div.s-item
          span 字体设置：
          select.font_size
            option(value="null") 未选择
            option(value="12px") 12px
            option(value="13px") 13px
            option(value="14px") 14px
            option(value="15px") 15px
            option(value="16px") 16px
            option(value="17px") 17px
            option(value="18px") 18px
            option(value="19px") 19px
        div.s-item
          span 自定义主题：
          div.custom
            div
              span 左边输入框背景色：
              input(type="color" title="注意：这会覆盖默认主题。" class="leftColor")
            div
              span 右边输入框背景色：
              input(type="color" title="注意：这会覆盖默认主题。" class="rightColor")
            div
              span 输入框统一字体色：
              input(type="color" title="注意：这会覆盖默认主题。" class="fontColor")

      div.tabs-item.font
        div.s-item
          span 是否开机自动：
          input(type="checkbox" class="isLogin")
        div.s-item
          span.version_num 您当前的版本：
          span.version_check 检查更新

      div.tabs-item.about
        img(src="./assets/img/pic.png",alt="pic.png")
        h3 HtmlToPug
        p 一款Html和Pug/Jade代码相互转换的工具，让你更加爽快的享受Pug/Jade语法的简约。
        p
          a QQ: 2271608011
          a Github: helpcode

    button.closed 取消
    #openUpdate.sy-alert.sy-alert-model.animated(sy-enter='zoomIn', sy-leave='zoomOut', sy-type='confirm', sy-mask='true')
      img(src="./assets/img/pic.png",alt="pic.png" width="80px")
      p
      ul
      span.dowNew

block script
  script(src="./assets/js/page/setting.js")
